

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.add-btn{
  width:650px;
  height: 50px;
  left: 0;
  margin-left: 20px;
  top: 0;
  margin-top: 20px;
  position: fixed;
  background-color: rgb(206, 173, 253);
}

.items-container{
  position:fixed;
  width:650px;
  height: 400px;
  left: 0;
  margin-left: 20px;
  top: 0;
  margin-top: 100px;
  background-color:#1a1a1a;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  overflow-y: scroll;
}

.customer-info-container {
  position: fixed;
  width: 650px;
  left: 0;
  margin-left: 20px;
  top: 0;
  margin-top: 520px; /* Adjust the margin-top as needed */
  background-color: #1a1a1a;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 20px; /* Add padding as needed */
}

.input-label {
  margin-right: 5px; 
}

#mobileNumber
{
  color: black;
}

.customer-info-input
{
  margin-bottom: 5px;
}

.payment-container{
  width:500px;
  height: 500px;
  position:fixed;
  background-color:#1a1a1a;
  color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  top: 0;
  margin-top: 20px;
  right: 0;
  margin-right: 20px;
}

.payment-container input{
  margin-left: 5%;
  margin-top: 20%;
  margin-bottom: 10%;
}

.cash-btn, .upi-btn{
  margin-bottom: 20%;
  margin-top: 5%;
  margin-left: 5%;
}

#increment-decrement {
  font-size: 16px; 
  padding: 4px 8px; 
  margin-left: 30px; 
}


.completed-btn{
  /* */
}

.container{
}

table{
  width: 100%; /* Make the table fill the width of its container */
  border-collapse: collapse;background-color: #1a1a1a; /* Set the background color for the table */
  border-collapse: collapse; /* Ensure table borders are collapsed */
}

td, th {
  /* border: 1px solid #3B3B3B; Set the border color for table cells */
  padding: 8px; /* Add padding to the table cells */
  text-align: left; /* Align text to the left within table cells */
}