@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 --primary-color: #8a2be2; /* Purple color */
  --primary-hover-color: #6a1b9a; /* Darker shade for hover */
  --background-color: #242424;
  --button-background: #8a2be2; /* Purple color for button */
  --button-hover-background: #6a1b9a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {

}
ul{
    list-style: none;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  background-color: #3B3B3B; /* Set the background color as needed */
  padding: 12px; /* Adjust padding as needed */
  margin-bottom: 8px; /* Adjust margin as needed to add space between elements */
  border-radius: 5px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  
}
button:focus,
button:focus-visible {
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.selected {
  background-color: #e0e0e0;
  padding: 12px; /* Adjust padding as needed */
  margin-bottom: 8px; /* Adjust margin as needed to add space between elements */
  border-radius: 5px;
}


input {
  border: var(--input-border);
  padding: 10px;
  border-radius: var(--input-radius);
  /* background-color: #646cff; */
  color: inherit;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}
input:focus {
  border: var(--input-focus-border);
}
